
.col-md-6 {
    text-align: center;
    color: #b8b8b8;
    font-family: 'Rock Salt';
    margin: 1% auto;
    font-size: large;
}

.modify-title {
    font-family: 'Rock Salt';
    color: #9595aa;
    font-size: xx-large;
    text-align: center;
}

.btn {
    font-family: 'Rock Salt';
}

.back-to {
    text-align: center;
}

.form-wrap {
    text-align: center;
    background-color: rgba(167, 167, 167,0.1);
    border-radius: 2%;
    width: 100%;
    padding: 1%;
}

.sign-up-in {
    text-align: center;
    color: #9595aa;
    margin: 2%;
}