#searchButton {
    margin-bottom: 2%;
}

.form-inline {
    justify-content: flex-end;
}

.btn-primary {
    color: #1e2b33;
}

.col-lg-3 {
    margin-top: 2%;
}

.card {
    background-color: inherit;
    cursor: pointer;
    border: none;
}

.card-body {
    text-align: center;
}

.card-title {
    color: #6276a3;
    font-size: 165%;
}

.card-text {
    color: rgb(137,143,147);
}
