@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(93deg, rgb(19, 31, 41) 9%, rgb(43, 59, 68) 91%);
}

p { 
    margin-top: 1%;
    margin-bottom: 3px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(93deg, rgb(19, 31, 41) 9%, rgb(43, 59, 68) 91%);
    overflow-x: hidden;
    transition: 1s;
    padding-top: 1%;
}

    .sidenav a {
        text-align: center;
        text-decoration: none;
        outline: none;
        border: none;
        font-family: 'Rock Salt';
        color: rgb(72, 71, 99);
        display: block;
        padding-top: 5%;
        margin-top: 5%;
    }

        .sidenav a:hover {
            color: #f1f1f1;
            text-decoration: none;
        }

        .sidenav a:after {
            content: '';
            width: 0px;
            height: 1px;
            display: flex;
            background: #f1f1f1;
        }

        .sidenav a:hover::after {
            margin: 0 auto;
            width: 60%;
            transition: 3s;
        }

    .sidenav .closebtn::after {
        height: 0px;
    }

    .sidenav .closebtn {
        position: absolute;
        top: -3%;
        right: 3%;
        font-size: 36px;
    }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

.bar-container {
    display: inline-block;
    cursor: pointer;
    margin: 1%;
    margin-top: 3%;
    position: absolute;
    top: 0;
}

.bars {
    width: 35px;
    height: 5px;
    background-color: rgb(72, 71, 99);
    margin: 6px 0;
}

#logo-container {
    text-align: center;
    padding: 2%;
}

#logo { 
    text-decoration: none;
    font-size: 350%;
    font-weight: 900;
    color: rgb(92, 92, 116);
    font-family: 'Rock Salt';
    margin: 0 auto;
}


.container {
    position: relative;
    margin-top: 1%;
}

.card {
    background-color: inherit;
    cursor: pointer;
    border: none;
}

.col-lg-3 {
    margin-top: 2%;
}

.card-body {
    text-align: center;
}

.card-title {
    color: rgb(98, 118, 163);
    font-size: 165%;
}

.card-text {
    color: rgb(137,143,147);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.movie-about { 
    display: flex;
    align-items: flex-start;
}

.movie-img-poz { 
    width: 50%;
    margin-left: 10%;
}

.movie-img {
    width: 50%;
}

.movie-details { 
    text-align: left;
    width: 50%;
    margin-right: 4%;
}

.movie-title { 
    margin-top: 1%;
    font-size: 230%;
    font-weight: 900;
    color: rgb(89, 94, 107);
    font-family: 'Rock Salt';
}

.movie-desc { 
    margin-top: 4%;
    color: rgb(137,143,147);
}

.more-movie-info { 
    text-align: center;
    color: rgb(137,143,147);
    margin-top: 2%;
}

.movie-cast {
    margin-top: 1%;
}

.movie-date-created {
    margin-top: 1%;
}

.movie-views {
    margin-top: 1%;
}

.about-us {
    text-align: center;
    color: rgb(137,143,147);
    margin-top: 1%;
}

    .about-us p { 
        color: rgb(204, 204, 212);
        margin-top: 2%;
        font-size: large;
    }

.contact-us { 
    text-align: center;
    color: rgb(137,143,147);
    margin-top: 1%;
}

.contact-details { 
    text-align: right;
    color: rgb(204, 204, 212);
    font-size: large;
    margin-right: 9%;
    margin-top: 4%;
}

.col-md-6 {
    text-align: center;
    color: rgb(159, 159, 175);
    font-family: 'Rock Salt';
    margin: 1% auto;
    font-size: large;
}

input{
    font-family:'Roboto';
}

textarea {
    font-family: 'Roboto';
}

.btn{
    font-family: 'Rock Salt';
}

.modify-user-movie { 
    font-family: 'Rock Salt';
    color: rgb(149, 149, 170);
    font-size: xx-large;
    text-align: center;
}

.back-to { 
    text-align: center;
}

.form-wrap { 
    text-align: center;
    background-color: rgba(167, 167, 167,0.1);
    border-radius: 2%;
    width: 100%;
    padding: 1%;
}

#create-header { 
    font-size: xx-large;
}

.form-group {
    margin-top: 2%;
    padding: 2px;
}

.add-button {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.list-of-movies { 
    margin-top: 3%;
}

.table-header { 
    font-size: 130%;
}

.table { 
    color: rgb(149, 149, 170);
    margin-top: 4%;
    text-align: center;
    background-color: rgba(188, 189, 199,0.1);
}

tbody tr:nth-child(odd) {
    background-color: rgba(188, 189, 199,0.2);
}

.sign-up-in {
    text-align: center;
    color: rgb(149, 149, 170);
    margin: 2%;
}

.btn-primary {
    color: rgb(43, 59, 68);
}

#searchButton {
    margin-bottom: 2%;
}

.form-inline {
    justify-content: flex-end;
}
