@{
    Layout = "_Layout";
    ViewBag.PageName = "About Us";
}

@section Styles{ 
    <link href="~/css/info.css" rel="stylesheet" />
}
    <div class="about-us-contact">
        <h1>Hello from our about</h1>
        <p>We are Code Academy</p>
    </div>
