@{
    Layout = "_Layout";
    ViewBag.PageName = "ContactUS";
}

@section Styles{
    <link href="~/css/info.css" rel="stylesheet" />
}

<div class="about-us-contact">
    <h1>Hey, here are some information how you can reach us</h1>
    <div class="contact-details">
        <p>Email: academy@codeacademy.com</p>
        <p>Phone: +38931123123</p>
    </div>
</div>
