@model DemoMovies.ViewModels.ModifyCurrentUserModel;

@addTagHelper * , Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewBag.PageName = "Modify";
}
    <div class="form-wrap">


        <h1 class="modify-user-movie">Modify User</h1>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <form asp-action="Modify">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Username" class="control-label"></label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RepeatPassword" class="control-label"></label>
                        <input asp-for="RepeatPassword" class="form-control" />
                        <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        <div>
            <a asp-controller="User" asp-action="ModifyUsers" class="back-to">Back to List</a>
        </div>
    </div>